.transactionGridItem{    
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 20px;
}

.transactionGridDay{
    font-size: 1.4em;
    font-weight: bold;
    width: 5%;
}

.transactionGridItem.negativo{
    background-color: rgb(228, 89, 89);
}

.transactionGridItem.positivo{
    background-color: rgb(13, 146, 9);
}

.transactionGridItem{
    margin-bottom: 10px;
}

.transactionGridDescription{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: space-between;
    width: 60%;
    margin-left: 10px;
    font-size: 1.4em;
}
.transactionGridValue{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 10px;
    text-align: justify;
    font-weight: bold;
    font-size: 1.4em;
}

.transactionGridActions{
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
    width: 20%;
    justify-items: right;
    margin-left: 10px;
}